header{
  position: absolute;
  width: 300px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 0;
  left: 0;
  margin:0 auto;

}
h1{
  font-weight: 800;
  font-family: 'Open Sans',sans-serif;
  padding: 5px;
  margin-top: 5px;

}
h4{
  color: #f5f2d0;
}
.informativo{
  border-bottom: 2px solid #f5f2d0;
}